<app-topnav>

</app-topnav>




<section id="home" class="d-flex flex-column justify-content-center align-items-center">
</section>
<section id="why-us" class="why-us">
    <div class="container">

        <div class="row">
            <div class="col-xl-4 col-lg-5" data-aos="fade-up">
                <div class="content">
                    <h3>Why Choose ALS System?</h3>
                    <p>
                        ALS System is a service that gives people the opportunity to find apartments near their vicinity. <br> <br> It also helps them to save money and choose an appartment depends on their prefered preferences.
                    </p>
                    <div class="text-center">
                        <a routerLink='/about' class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-7 d-flex">
                <div class="icon-boxes d-flex flex-column justify-content-center">
                    <div class="row">
                        <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bx bx-cube-alt"></i>
                                <h4 style="color: palevioletred;">Reasons</h4>
                                <p>Apartment Locating enables you to get started in real estate right away, WITHOUT having to pay the costly board fees that are required to call yourself a Realtor®. </p>
                            </div>
                        </div>


                        <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bx bx-images"></i>
                                <h4 style="color: palevioletred;">Opportunities</h4>
                                <p>Being an apartment locator is a great way to build your pipeline, especially if you see yourself becoming a buyer's or seller's agent in the future.

                                </p>
                            </div>
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bx bx-receipt"></i>
                                <h4 style="color: palevioletred;">Benefits</h4>
                                <p>This provides sellers with increased exposure of their property for free, whilst buyers and renters benefit by seeing more properties than ever before</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Why Us Section -->


<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg text-muted" style="margin-top: 30px; text-align: center;">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2 style="color: dodgerblue;">Services</h2>
            <p>The team provides great services for individuals that needs an affordable apartments. </p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6" data-aos="fade-up">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-briefcase"></i></div>
                    <h4 class="title"><a>Contacts</a></h4>
                    <p class="description">Can easily contact the apartments owners since we provided a reliable information.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-card-checklist"></i></div>
                    <h4 class="title"><a>Checklist</a></h4>
                    <p class="description">Can Choose an apartment depends on your taste buds.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-bar-chart"></i></div>
                    <h4 class="title"><a>Ratings</a></h4>
                    <p class="description">We provide a high ratings apartment yet affordable one. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-binoculars"></i></div>
                    <h4 class="title"><a>Sight</a></h4>
                    <p class="description">You'll find out the uniqueness of an apartment that are different from the others. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-brightness-high"></i></div>
                    <h4 class="title"><a>Features</a></h4>
                    <p class="description">We provide a user friendly features that is really accesible.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-calendar4-week"></i></div>
                    <h4 class="title"><a>Price</a></h4>
                    <p class="description">We provide a list of Apartments that suits the user's budgets.</p>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Services Section -->




<app-footer>
</app-footer>