

<body >
    <div class="container-fluid">
      <div class="row"  >
        <div   class="col-lg-3 px-0 position-fixed h-100 shadow-lg sidebar" id="sidebar"
          style="margin-top: auto;margin-left: 1%;">
          <h3 class=" text-primary d-flex my-4 justify-content-center"><b>ADMINISTRATOR</b></h3>
          <img class="ml-4" style="width:150px" src="./assets/images/avatar.jpg" alt="">
          <div class="list-group rounded-0">
            <a class=" list-group-item list-group-item-action text-primary border-0 d-flex align-items-center " routerLink='/apartment-list'>
              <span class="bi bi-border-all" ></span>
              <span class="ml-2 btn">Apartment</span>
            </a>
            <a  class=" btn list-group-item list-group-item-action border-0 align-items-center" routerLink='/add-apartment' >
              <span class="bi bi-box text-primary"></span>
              <span btn  class="ml-2" >Add Apartment</span>
            </a>
          
            <!-- <a href='admin-profile' class=" btn list-group-item list-group-item-action border-0 align-items-center" routerlink='/admin-profile'>
              <span class="bi bi-gear text-primary"></span>
              <span class="ml-2">Settings</span>
            </a> -->
  
            <button class=" btn list-group-item list-group-item-action border-0 d-flex " data-toggle="collapse"
              data-target="#sale-collapse" routerLink='/get-started'>
              <div >
                <span class="bi bi-person text-primary" ></span>
                <span class="ml-2" >Logout</span>
              </div>
            </button>
          </div>
        </div>
  
   
        <div class="w-100 vh-100 position-fixed overlay d-none" id="sidebar-overlay"></div>
     
        <div class="col-md-9 col-lg-10 ml-md-auto px-0">
  
        </div>
      </div>
    </div>
  
  </body>



  