<app-topnav>

</app-topnav>

<!-- ======= About Section ======= -->
<section id="about" class="about section-bg" style="margin-left:25%;">
    <div class="container d-flex" style=" margin-top:7%;">
        <div class="row" style=" margin-top:4%;">
            <img class="card-img-top" src="/assets/images/about.jpg" style="width:450%; height:610px; margin-left:-130px;">
        </div>

        <div class="row" style="margin-top: 45%;margin-left: -10%;">


            <div class="col-12 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5" style="margin-top:-65%;">
                <h2 data-aos="fade-up " style="color: dodgerblue;">About us</h2> <br>
                <h3 data-aos="fade-up" style="color: palevioletred;">Apartment Locator Services</h3>
                <p data-aos="fade-up">Our ALS System is a licensed real estate agent that specializes in apartments, short-term rentals, and rental houses. This is a free service to their clients. We’ll cover more on compensation later.
                </p>

                <div class="icon-box" data-aos="fade-up">
                    <div class="icon"><i class="fas fa-user-shield"></i>
                    </div>
                    <h4 class="title"><a style="color: dodgerblue;">Customer Service </a></h4>
                    <p class="description">We will provide information about all available apartments near you</p>
                </div>

                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="fas fa-lock"></i></div>
                    <h4 class="title"><a style="color: dodgerblue;">Dependability</a></h4>
                    <p class="description">We ensured that you will find a comfortable place to live </p>
                </div>

                <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><i class="fas fa-fingerprint"></i></div>
                    <h4 class="title"><a style="color: dodgerblue;">Uniqueness</a></h4>
                    <p class="description"> You can freely find a place to live in a hassle free </p>

                </div>
                <br><br>
            </div>
        </div>
    </div>

</section>
<!-- End About Section -->

<!-- ======= Values Section ======= -->
<section id="values" class="values mt-5">
    <div class="container">
        <h2 style="text-align:center; margin-top:-10px; color: dodgerblue;">Values</h2> <br>
        <p data-aos="fade-up">Values alignment helps the organization as a whole to achieve its core mission. When values are out of alignment, people work towards different goals, with different intentions, and with different outcomes.</p>

        <div class="row">
            <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                <div class="card" style="background-image: url(/assets/images/values-1.jpg);">
                    <div class="card-body">
                        <h5 class="card-title"><a>Our Mission</a></h5>
                        <p class="card-text">To provide individuals a services that inform and grant easy locator for a better home</p>

                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="100">
                <div class="card" style="background-image: url(/assets/images/values-2.jpg);">
                    <div class="card-body">
                        <h5 class="card-title"><a>Our Plan</a></h5>
                        <p class="card-text">To help everyone save their infinite amount of time spent on the phone or online searching for apartments available that may or may not match what they are seeking.
                        </p>

                    </div>
                </div>

            </div>
            <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="200">
                <div class="card" style="background-image:url(/assets/images/values-3.jpg);">
                    <div class="card-body">
                        <h5 class="card-title"><a>Our Vision</a></h5>
                        <p class="card-text">To create a better and easy home finding tool for many people </p>

                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="300">
                <div class="card" style="background-image: url(/assets/images/values-4.jpg);">
                    <div class="card-body">
                        <h5 class="card-title"><a>Our Care</a></h5>
                        <p class="card-text">If you want to be in the right place at the right time renting an apartment may be easier than buying a house. We make sure to help you find a place you want to live.
                        </p>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section> <br> <br>
<!-- End Values Section -->

<!-- ======= Team Section ======= -->
<section id="team" class="team section-bg" style="text-align: center;">
    <div class="container">

        <div class="section-title">
            <h2 data-aos="fade-up" style="color: dodgerblue;">Team</h2>
            <p data-aos="fade-up"> Teamwork is a powerful concept that you can put to work in nearly any industry. Strategically building a team for important projects is an efficient way to tackle a company’s challenges. Leaving individuals to manage big projects alone can
                lead to an imbalanced skill set, problematic creativity blocks, and an extremely stressful environment. <br> Teamwork offers numerous benefits.
            </p>
        </div> <br>

        <div class="row">

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" style="margin-left: 170px;">
                <div class="member">
                    <div class="member-img">
                        <img src="/assets/images/marjory.png" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4 style="color: dodgerblue;">Marjory Mondido</h4>
                        <span>Software Developer</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="member">
                    <div class="member-img">
                        <img src="/assets/images/belyn.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href="https://twitter.com/"><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4 style="color: dodgerblue;">Rubylyn Hernani</h4>
                        <span>Project Manager</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="member">
                    <div class="member-img">
                        <img src="/assets/images/maria.png" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4 style="color: dodgerblue;">Ma. Justine Bayutas</h4>
                        <span>Quality Assurance</span>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- End Team Section -->






<br> <br>

<app-footer>
</app-footer>