<app-side-nav></app-side-nav>
<div id="profile-edit-save">
    <button id="editSave">Add Apartment</button>
</div>
<div id="profile-edit-area">
    <form>
        <div id="edit-area-left">
            <table>
                <tbody>
                    <tr>
                        <td class="edit-title">Apartment Name: </td>
                        <td><input type="text" class="profileInputBox" /></td>
                    </tr>
                    <tr>
                        <td class="edit-title">Apartment Owner: </td>
                        <td><input type="text" class="profileInputBox" /></td>
                    </tr>
                    <tr>
                        <td class="edit-title">Available Rooms: </td>
                        <td><input type="text" class="profileInputBox" /></td>
                    </tr>


                </tbody>
            </table>
        </div>
        <div id="edit-area-right">
            <table>
                <tbody>
                   
                    <tr>
                        <td class="edit-title">Apartment Owner:</td>
                        <td><input type="text" class="profileInputBox" /></td>
                    </tr>
                    <tr>
                        <td class="edit-title">Location:</td>
                        <td><input type="text" class="profileInputBox" /></td>
                    </tr>
                    <tr>
                        <td class="edit-title">Contact Number:</td>
                        <td><input type="text" class="profileInputBox" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>

<div id="profile-update-save">

    <button id="saveChanges" style="margin-left:58pc;margin-top:10pc;">Add Apartment</button>
    <button id="cancelChanges" style="margin-left:53pc; margin-top:-30px;" routerlink="apartment-list">Cancel</button>
</div>
