<section id="home" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container" data-aos="fade-in" style="height:800px;  margin-top: 250px;">
        <h1 style="text-align: center;">Welcome to ALS System</h1>
        <h2 style="text-align: center;">A team who will help you look for an affordable apartment within Cebu City.</h2>
        <div class="d-flex justify-content-center">
            <button class="btn btn-primary" style=" width:170px; height: 50px;" routerLink='/home'>Get Started</button>


        </div>
    </div>
</section>

<app-get-footer></app-get-footer>