<div> <img style="width:40%;" src="./assets/images/hart1.png" alt="">
    <div class="card col-sm-7 shadow" style="margin-left:18%; margin-top:38px">
        <div class="card-body">
            <h5 class="card-title " style="margin-left:53%">Login Admin</h5>
            <img style="width:50%;margin-top:5%" src="./assets/images/login.svg" alt="">
            <form class="col-sm-6" style="float:right;margin-top:3%">
                <div class="form-group ">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div> <br>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Remember me</label>
                </div><br>
                <button type="submit" class=" btn-grad" style=" width:240px; height: 40px;">login</button><br><br>
                <button type="submit" class="btn btn-primary " style=" width:100px; height: 50px; margin-left:30px;" routerLink='/home'>Back</button><br><br>

            </form>
        </div>
    </div>
</div>

<p>changes</p>
<div> <img style="width:40%;float:right;margin-top:-7%" src="./assets/images/hart2.png" alt=""></div>