<div id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact" style="color: dodgerblue;">
                    <h3>ALS System</h3>
                    <p>
                        San,Alberto,Carmelites Formations Center <br> Nasipit, Talamban,Cebu<br> City, Philippines. <br><br>
                        <strong style="color: dodgerblue;">Phone:</strong> +1 5589 55488 55<br>
                        <strong style="color: dodgerblue;">Email:</strong> AlsSystem@yahoo.com<br>
                    </p>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4 style="color: dodgerblue;">ALS Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="home">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="about">About</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="apartment">Apartments</a></li>

                    </ul>
                </div>



                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4 style="color: dodgerblue;">Join Our Team</h4>
                    <p>Let's help each other, find affordable apartments. <br> that suits your budget <br> and is worth to live. <br> </p>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Contact Us</h5>
                    <p>
                        <i class="fas fa-home mr-3" style="color: dodgerblue;"></i> Talamban, Cebu, Philippines
                    </p>
                    <p>
                        <i class="fas fa-envelope mr-3" style="color: dodgerblue;"></i> Alsysttem@gmail.com
                    </p>
                    <p>
                        <i class="fas fa-phone mr-3" style="color: dodgerblue;"></i> +63 999 1234 451
                    </p>
                    <p>
                        <i class="fas fa-print mr-3" style="color: dodgerblue;"></i> +01 335 6333 77
                    </p>
                </div>






            </div>
        </div>
    </div>


    <div class="container d-lg-flex py-4">

        <div class="me-lg-auto text-center text-lg-start">
            <div class="copyright">
                &copy; Copyright <strong><span style="color:dodgerblue">Apartment Locator Services</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by
                <small>Group3 ASL Frontend</small>
            </div>
        </div>
        <div class="col-md-5 col-lg-4">
            <div class="text-center text-md-right">
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/" class="btn-floating btn-sm text-primary" style="font-size: 23px;"><i
                                class="fab fa-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://twitter.com/?lang=en" class="btn-floating btn-sm text-primary" style="font-size: 23px;"><i
                                class="fab fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.google.com/" class="btn-floating btn-sm text-primary" style="font-size: 23px;"><i
                                class="fab fa-google-plus"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/" class="btn-floating btn-sm text-primary" style="font-size: 23px;"><i
                                class="fab fa-linkedin-in"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.youtube.com/" class="btn-floating btn-sm text-primary" style="font-size: 23px;"><i
                                class="fab fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>



<script src="nav.js"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
<!-- End Footer -->